body{
    background-color: black;
}
.div2{
    justify-content: space-between;
display: flex;

}
.div a{
    text-decoration: none;
   color: gold;
   justify-content: space-around;
} 
.div1 input {
    margin: 50px 160px;
    width: 400px;
    
}